/**
*	Author: Danny Salvadori
*	Description: Core CSS for SES
*	Date: 29/07/2017
*/
@charset "ISO-8859-1";

.gain {
	color: #00AE00;
	font-weight: bold;
}

.loss {
	color: #fb0000;
	font-weight: bold;
}